# sudo apt-get install python3-tk

matplotlib
numpy
pandas
scipy

# sklearn 0.19 has a change which causes problem:
# https://stackoverflow.com/questions/46162855/fit-transform-takes-2-positional-arguments-but-3-were-given-with-labelbinarize
scikit-learn == 0.18
